@use "../abstracts/mixins" as mixins;
.base-button {
    @include mixins.customFlex(row, center,center,00.75rem);
   width: 100%;
   border: none;
   height: 3rem;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   cursor: pointer;
   width: 100%;
   font-size: 1rem;
   font-weight: 700;
   line-height: 2rem;
 
   &:disabled {
     background-color: var(--primary-50);
     cursor: not-allowed;
   }
 }
 .primary {
   color: var(--white);
   background-color: var(--primary-500);
 }
 